---
import Container from '@/components/Container.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { BLOG } from '@/lib/site'
import generateOgImageUrl from '@/utils/og-image'
import { getPostsByCategory, getAllPostCategories } from '@/utils/blog-helpers'
import UnifiedLink from '@/components/UnifiedLink.astro'
import HorizonWrapper from '@/components/HorizonWrapper.astro'
import { readingTime } from '@/utils/reading-time'
import { formatDate } from '@/utils/utils'

export const prerender = false
const category = Astro.url.searchParams.get('category')

const posts = await getPostsByCategory(category)
const categories = await getAllPostCategories()

const ogImageUrl = generateOgImageUrl({
  header: `/${BLOG.TITLE.toUpperCase()}`,
  description: BLOG.DESCRIPTION,
})
---

<PageLayout
  title={BLOG.TITLE}
  description={BLOG.DESCRIPTION}
  image={ogImageUrl}>
  <Container>
    <section class="relative pt-12 text-sm sm:pt-20">
      <header
        class="mb-8 flex w-full items-center justify-center text-center md:mb-16">
        <div class="w-full sm:w-4/5 md:w-3/5">
          <h1 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
            My ramblings on the web about all things tech, life, and
            productivity!
          </h1>
        </div>
      </header>

      <div class="mb-6 flex justify-center text-muted-foreground ">
        <HorizonWrapper>
          <UnifiedLink
            href="/blog"
            class={`transition-colors duration-200 ease-in-out ${!category ? 'text-black' : 'hover:text-black'}`}>
            ALL
          </UnifiedLink>
          {
            categories.map((cat) => (
              <UnifiedLink
                href={`/blog?category=${encodeURIComponent(cat)}`}
                class={`transition-colors duration-200 ease-in-out ${category?.toLowerCase() === cat.toLowerCase() ? ' text-black' : 'hover:text-black'}`}>
                {cat}
              </UnifiedLink>
            ))
          }
        </HorizonWrapper>
      </div>

      {
        posts.length > 0 ?
          <div>
            {posts.map((post) => (
              <a
                href={`/blog/${post.id}`}
                class="group block rounded-lg p-4 hover:cursor-pointer hover:bg-gray-100">
                <div class="text-md flex items-center gap-2">
                  <h2 class="text-lg font-semibold">{post.data.title}</h2>
                  <span
                    class="flex-1 bg-gray-600/20 px-2"
                    style="height: 1px; align-self: center;"
                  />
                  <span class="text-gray-600">
                    {formatDate(post.data.date.toDateString())}
                  </span>
                </div>
                <p class="text-gray-600">{post.data.description}</p>
                <div class="mt-1 font-mono text-sm">
                  <span class="text-sm tracking-tight text-gray-600">
                    {readingTime(post.rendered?.html ?? '')} ·
                  </span>
                  {post.data.category && <span>{post.data.category}</span>}
                </div>
              </a>
            ))}
          </div>
        : <p class="text-gray-600">No blog posts found.</p>
      }
    </section>
  </Container>
</PageLayout>
