---
import Container from '@/components/Container.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { SPEAKING } from '@/lib/site'
import {
  getSpeakingData,
  getAllSpeakingCategories,
} from '@/utils/speaking-helpers'
import generateOgImageUrl from '@/utils/og-image'
import { formatDate } from '@/utils/utils'
import CategoryMenu from '@/components/CategoryMenu.astro'

export const prerender = false
const category = Astro.url.searchParams.get('category')

const speaking = await getSpeakingData({ category })
const categories = await getAllSpeakingCategories()

const pathname = new URL(Astro.request.url).pathname.split('/')[1]

const ogImageUrl = generateOgImageUrl({
  header: `/${SPEAKING.TITLE.toUpperCase()}`,
  description: SPEAKING.DESCRIPTION,
})
---

<PageLayout
  title={SPEAKING.TITLE}
  description={SPEAKING.DESCRIPTION}
  image={ogImageUrl}>
  <Container>
    <section class="relative pt-12 text-sm sm:pt-20">
      <header
        class="mb-8 flex w-full items-center justify-center text-center md:mb-16">
        <div class="w-full sm:w-4/5 md:w-3/5">
          <h1 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
            My speaking engagements and conference talks!
          </h1>
        </div>
      </header>

      <div>
        <CategoryMenu
          categories={categories}
          currentCategory={category}
          pathname={pathname}
        />
      </div>
      <div>
        {
          speaking.map((talk) => (
            <a
              href={talk.link}
              target="_blank"
              rel="noopener noreferrer"
              class="group block rounded-lg p-4 hover:cursor-pointer hover:bg-muted">
              <div class="text-md flex flex-col gap-2 sm:flex-row sm:items-center">
                <span class="order-1 text-muted-foreground sm:order-3">
                  {formatDate(talk.date)}
                </span>
                <span
                  class="order-3 hidden flex-1 bg-muted-foreground/20 px-2 sm:order-2 sm:block"
                  style="height: 1px; align-self: center;"
                />
                <h2 class="order-2 text-lg font-semibold sm:order-1">
                  {talk.title}
                </h2>
              </div>
              <p class="text-muted-foreground">{talk.description}</p>
            </a>
          ))
        }
      </div>
    </section>
  </Container>
</PageLayout>
