---
import DeskSetup from '@/assets/images/desk-setup.webp'
import Container from '@/components/Container.astro'
import PageLayout from '@/layouts/PageLayout.astro'
import { USES } from '@/lib/site'
import generateOgImageUrl from '@/utils/og-image'
import { Picture } from 'astro:assets'
import { softwareData, hardwareData, coffeeData, gitHubData } from '@/data/uses'
import HorizonWrapper from '@/components/HorizonWrapper.astro'
import GitHubIcon from '@/assets/icons/github.svg'
import { cn } from '@/utils/utils'

export const prerender = true

const ogImageUrl = generateOgImageUrl({
  header: `/${USES.TITLE.toUpperCase()}`,
  description: USES.DESCRIPTION,
})
---

<PageLayout
  title={USES.TITLE}
  description={USES.DESCRIPTION}
  image={ogImageUrl}>
  <Container>
    <section class="text-md relative pt-20 sm:text-base">
      <header
        class="mb-8 flex w-full flex-col items-center justify-center text-center md:mb-16">
        <div class="w-full sm:w-4/5 md:w-3/5">
          <h1 class="text-2xl font-semibold sm:text-3xl md:text-4xl">
            The Gear That Keeps Me Caffeinated & Coding
          </h1>
        </div>
      </header>

      <Picture
        src={DeskSetup}
        width={768}
        height={700 * 0.75}
        class="mb-5 aspect-video w-full rounded-lg grayscale transition-all duration-300 ease-in-out hover:grayscale-0"
        alt="Desk Setup"
      />

      <div class="mb-10 grid grid-cols-1 gap-2 font-mono md:grid-cols-2">
        {
          gitHubData.map((gitHub) => (
            <a
              href={gitHub.link}
              target="_blank"
              rel="noopener noreferrer"
              class="group flex items-start gap-4 rounded-xl border p-4 transition-shadow duration-200 hover:shadow-lg">
              <GitHubIcon
                width={32}
                height={32}
                class="mt-0.5 shrink-0 transition-transform duration-500 ease-in-out group-hover:rotate-360"
              />
              <div class="flex min-w-0 flex-1 flex-col gap-1">
                <h2 class="semi-bold font-mono text-lg">{gitHub.title}</h2>
                <p class="text-sm leading-relaxed text-gray-500">
                  {gitHub.description}
                </p>
              </div>
            </a>
          ))
        }
      </div>

      <HorizonWrapper class="justify-center font-bold">COFFEE </HorizonWrapper>

      <div class="grid grid-cols-1 gap-2 font-mono md:grid-cols-3">
        {
          coffeeData.map((coffee, index) => (
            <a
              class={cn(
                'group flex flex-col items-center gap-2 rounded-xl border p-2 transition-shadow duration-200 hover:shadow-lg',
                index === 0 && 'md:col-span-3'
              )}
              href={coffee.link}
              target="_blank"
              rel="noopener noreferrer">
              <h2 class="semi-bold font-mono text-lg">{coffee.title}</h2>
              <img
                src={coffee.imageSrc}
                alt={coffee.title}
                width={500}
                height={500}
                class="mb-2 h-36 w-32 object-cover grayscale group-hover:grayscale-0 md:h-64 md:w-56"
              />
            </a>
          ))
        }
      </div>

      <HorizonWrapper class="mt-10 justify-center font-bold">
        SOFTWARE
      </HorizonWrapper>

      <div class="grid grid-cols-2 gap-5 font-mono sm:grid-cols-6 sm:gap-x-10">
        {
          softwareData.map((software) => (
            <a
              class="group flex flex-col items-center justify-center gap-2"
              href={software.link}
              target="_blank"
              rel="noopener noreferrer">
              <h2 class="text-md">{software.title}</h2>
              <div class="software-icon flex aspect-square w-full items-center justify-center border">
                <img
                  src={software.imageSrc}
                  alt={software.title}
                  width={42}
                  height={42}
                  class="object-cover grayscale transition-all duration-300 group-hover:scale-150 group-hover:grayscale-0"
                />
              </div>
            </a>
          ))
        }
      </div>

      <HorizonWrapper class="mt-10 justify-center font-bold">
        HARDWARE
      </HorizonWrapper>

      <div class="grid grid-cols-1 gap-5 font-mono sm:grid-cols-2 sm:gap-x-4">
        {
          hardwareData.map((hardware) => (
            <a
              class="group flex flex-col justify-center gap-2 rounded-xl border p-2 transition-shadow duration-200 hover:shadow-lg"
              href={hardware.link}
              target="_blank"
              rel="noopener noreferrer">
              <h2 class="text-md font semi-bold">{hardware.title}</h2>
              <p class="text-sm text-gray-500">{hardware.description}</p>
            </a>
          ))
        }
      </div>
    </section>
  </Container>
</PageLayout>

<style>
  .software-icon {
    border-radius: 0.5rem;
    transition:
      border-radius 0.3s ease-in-out,
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  .group:hover .software-icon {
    border-radius: 50%;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
</style>
