---
import { cn } from '@/utils/utils'
import ContentDisplay from './ContentDisplay.astro'

export interface ContentSectionItem {
  href: string
  name: string
  description?: string
  external?: boolean
  image?: string
}

export interface Props {
  title?: string
  viewAllLink?: {
    href: string
    text: string
  }
  items: ContentSectionItem[]
  class?: string
  variant?: 'list' | 'card'
}

const {
  title = '',
  viewAllLink,
  items,
  class: classProps = '',
  variant = 'list',
} = Astro.props
---

<section class={cn('mt-12 sm:mt-20', classProps)}>
  <header class="mb-6 flex items-center justify-between sm:mb-8">
    <h2 class="text-2xl font-bold uppercase sm:text-2xl">{title}</h2>
    {
      viewAllLink && (
        <a
          href={viewAllLink.href}
          class="text-primary text-base hover:text-blue-600 hover:underline sm:text-base">
          {viewAllLink.text}
        </a>
      )
    }
  </header>
  <div
    class={cn(
      'flex gap-4',
      variant === 'card' ?
        'grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3'
      : 'flex flex-col'
    )}>
    {
      items.map((item) => (
        <ContentDisplay
          href={item.href}
          name={item.name}
          description={item.description || ''}
          image={item.image}
          external={item.external}
          variant={variant}
        />
      ))
    }
  </div>
</section>
