---
import { fade } from 'astro:transitions'
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import NavBar from '@/components/NavBar.astro'
import PageFrame from '@/components/PageFrame.astro'
import { SITE } from '@/lib/site'
import ScrollToTop from '@/components/ScrollToTop.astro'

interface Props {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props

const fadeNoInitial = {
  forwards: fade({ duration: '0.2s' }).forwards,
  backwards: fade({ duration: '0.2s' }).backwards,
}
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} | ${SITE.NAME}`}
      description={description}
      image={image}
    />
  </head>
  <body>
    <div class="relative">
      <PageFrame />
      <NavBar />
      <main transition:animate={fadeNoInitial}>
        <slot />
      </main>
      <Footer />
    </div>
    <ScrollToTop />
  </body>
</html>
